<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <main>
            <form method="post">
                {% csrf_token %}
                <h1>ARE YOU SURE?</h1>
                <button>Delete</button>
             </form>
        </main>
    </body>
</html>
