{% extends 'todos/base.html' %}
{% block content %}
<main>

    <div>
        <h1>{{todo_list.name}}</h1>
        <p> <a href="{% url "edit_todo" todo_list.id %}"> Edit </a></p>
        <p> <a href="{% url "delete_todo" todo_list.id %}"> Delete </a></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in todo_list.items.all %}
                <tr>
                    {% comment %} <td> {{forloop.counter}}</td> {% endcomment %}
                    <td> {{item.task}}</td>
                    <td><a href="{% url 'todo_item_update' item.id %}">{{item.task}}</a></td>
                    <td>{{item.due_date|date:"M d, Y" }}</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
