<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <main>
            <h1>Update item</h1>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Update</button>

        </main>
    </body>
</html>
