{% extends 'todos/base.html' %}
{% block content %}
    <main>
        <div>
            <h1>My lists</h1>
            <nav>
                <p><a href="{% url 'create_todo_list'  %}">Create a new list</a></p>
                <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
            </nav>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {%for todo_list in todos_list_list %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' todo_list.id %}">{{todo_list.name}}</a>
                            </td>
                            <td>{{todo_list.items.all|length}}</td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    {% endblock content %}
